body,
h1,
h2,
h3 {
  margin: 5;
  padding: 5;
}



body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;

}

body{

  background-image: url('/img.jpg'); /* Replace with the path to your background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20%;
}







.container {


  padding: 25px;

  background-color: #e7e0e0;


}

.form-group {
  margin-bottom: 5px;
  text-align: center;
  /* padding: 10px; */

}

.form-group label {
  font-weight: bold;
  margin-bottom: 15px;
  display: block;
  color: #4a4a4a;
}

.select-box {
  padding: 15px 30px;
  border: none;
  border-radius: 15px;

}

.submit-button {
  width: auto;
  background-color: #ff6b6b;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #ff4e4e;
}

.chapter-selector,
.verse-selector {
  display: inline-block;


}

.verse-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  background-color: #e7e0e0;
  border-radius: 20px;
  opacity: 60%;
  padding: 20px;

}









/* Navbar Styles */
.navbar {
  background-color: #343a40;
  padding: 10px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  transition: color 0.3s ease;
}

.navbar-toggler-icon {
  background-color: #fff;
}

.navbar-nav {
  margin-right: auto;
}

.navbar-nav .nav-item {
  margin: 0 10px;
}

.nav-link {
  color: #fff;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f8f9fa;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .navbar-nav {
    margin-right: 0;
  }

  .navbar-toggler {
    margin-left: auto;
  }

  .navbar-collapse {
    background-color: #343a40;
  }

  .navbar-collapse .navbar-nav .nav-item {
    margin: 5px 0;
  }

  .navbar-collapse .nav-link {
    color: #f8f9fa;
  }
}



.select-box {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}